body {
    text-align: center;
    background-color: #101820FF;
  }
  
  h1 {
    font-size: 5rem;
    color: yellow;
    font-family: "Arvo", cursive;
    text-shadow: 4px 0 #6883BC ;
  
  }
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  
  .w:hover {
    background-image: url("pictures/tom1.png");
    background-color: white;
  }
  
  .a:hover {
    background-image: url("pictures/tom2.png");
    background-color: white;

  }
  
  .s:hover {
    background-image: url("pictures/tom3.png");
    background-color: white;
  }
  
  .d:hover {
    background-image: url("pictures/tom4.png");
    background-color: white;
  }
  
  .j:hover {
    background-image: url("pictures/snare.png");
    background-color: white;
  }
  
  .k:hover {
    background-image: url("pictures/crash.png");
    background-color: white;
  }
  
  .l:hover {
    background-image: url("pictures/kick.png");
    background-color: white;
  }
  
  .set {
    margin: 10% auto;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 yellow;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: rgb(246, 222, 13);
    text-shadow: 3px 0 rgb(64, 75, 1);
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: #6883BC;
  }
  .gfg{
    background-image: url("pictures/boom-4680150_640.png");
    background-size: 100% 100%;
    background-color: black;

  }